@use 'vars' as *;

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  font-family: $fuente-principal;
  background-color: $color-blanco;
  color: $color-negro;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
}

.navbar {
  z-index: 1000;
}


main {
  flex: 1 0 auto;
  margin-top: 100px; // Espacio para que no se superponga la navbar
}

footer {
  flex-shrink: 0;
}

h1, h2 {
  font-family: $fuente-titulo;
}

body, p, a, button, label, input, textarea, h3, h4, h5, h6 {
  font-family: $fuente-principal;
  font-size: $fuente-size;
}

img {
  max-width: 100%;
  height: auto;
  user-select: none;
}

.scroll-top-btn {
  position: fixed;
  bottom: 60px;
  right: 20px;
  background: none;
  border: none;
  font-size: 40px;
  color: #ffb961;
  font-weight: bold;
  z-index: 999;
  cursor: pointer;
  opacity: 0;
  transition: all 0.3s ease;
  text-decoration: none;
  pointer-events: none;

  &.visible {
    opacity: 1;
    pointer-events: auto;
  }
}

%icono-social {
  width: 40px;
  height: 40px;
  transition: transform 0.3s ease;
  cursor: pointer;

  &:hover {
    transform: scale(1.1);
  }
}
