.nav-link {
  color: $color-negro !important;
  font-weight: bold;
  font-size: 20px;
  position: relative;
  overflow: hidden;
  transition: all 0.3s ease;

  &::after {
    content: "";
    position: absolute;
    left: 50%;
    bottom: 0;
    width: 0;
    height: 6px;
    background: radial-gradient(circle at 50% 50%, #ffb961 0%, #ffb961 40%, transparent 50%);
    background-size: 10px 10px;
    background-repeat: repeat-x;
    transform: translateX(-50%);
    transition: width 0.4s ease;
    border-radius: 10px;
  }

  &:hover {
    transform: translateY(-2px);

    &::after {
      width: 100%;
    }
  }
}


// ===== BOTÓN PERSONALIZADO =====

.btn-custom {
    @include boton-estilo($color-boton, $color-hover);
  }
  
  // ===== ZOOMABLE =====
  
  .zoomable {
    transition: transform 0.5s ease, box-shadow 0.5s ease;
  
    &:hover {
      transform: scale(1.05);
      box-shadow: 0 8px 20px $glow-naranja;
    }
  }
  
  // ===== BADGE PROMOCIÓN =====
  
  .badge-promocion {
    position: absolute;
    bottom: 30px;
    right: 10px;
    background-color: $color-badge;
    color: white;
    padding: 10px 50px;
    font-size: $fuente-size;
    font-weight: bold;
    box-shadow: 0 0 10px $glow-rosa;
    animation: pulse 2s infinite;
  }
  
  @keyframes pulse {
    0%   { box-shadow: 0 0 10px $glow-rosa; }
    50%  { box-shadow: 0 0 20px $glow-rosa; }
    100% { box-shadow: 0 0 10px $glow-rosa; }
  }
  
  // ===== PLACEHOLDER REUTILIZABLE =====
  
  %icono-social {
    width: 30px;
    height: 30px;
    transition: transform 0.3s;
  
    &:hover {
      transform: scale(1.2);
    }
  }
  