// ===== NAVBAR =====
@use 'vars' as *;
@use 'placeholders' as *;

.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;
}

.navbar-toggler-icon {
  filter: brightness(0) saturate(100%);
}

.bg-custom {
  background-color: $color-primario;
}

.nav-link {
  color: $color-negro !important;
  font-weight: bold;
  font-size: $fuente-size;
  position: relative;
  overflow: hidden;
  transition: all 0.3s ease;

  &::after {
    content: "";
    position: absolute;
    left: 50%;
    bottom: 0;
    width: 0;
    height: 6px;
    background: radial-gradient(circle at 50% 50%, #ffb961 0%, #ffb961 40%, transparent 50%);
    background-size: 10px 10px;
    background-repeat: repeat-x;
    transform: translateX(-50%);
    transition: width 0.4s ease;
    border-radius: 10px;
  }

  &:hover {
    transform: translateY(-2px);

    &::after {
      width: 100%;
    }
  }
}


// ===== CONTAINER PERSONALIZADO =====

.container {
  padding-left: 15px;
  padding-right: 15px;

  @media (min-width: 768px) {
    padding-left: 30px;
    padding-right: 30px;
  }

  @media (min-width: 1200px) {
    padding-left: 60px;
    padding-right: 60px;
  }
}

// ===== DECORATIVOS: BAMBÚS =====

.bambu-superior {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 200px;
  margin-top: -100px; 
  margin-left: -20px;
  transform: scaleY(-1) rotate(5deg);
  pointer-events: none;
  user-select: none;
  z-index: 0;
}

.bambu-inferior {
  display: block;
  position: absolute;
  bottom: 0;
  right: 0;
  width: 200px;
  margin-bottom: -120px;
  margin-right: -20px;
  pointer-events: none;
  user-select: none;
  z-index: 0;
}

// ===== FOOTER =====

.footer-custom {
  background-color: $color-primario;
  background-image: url('../images/olas-patron-footer.png');
  background-repeat: repeat-x;
  background-size: auto 200px;
  background-position: bottom center;
  color: $color-negro;
  padding: 40px 0;
  position: relative;
  overflow: hidden;

  h5 {
    font-family: $fuente-titulo;
    color: $color-negro;
    font-size: 20px;
  }

  p {
    font-family: $fuente-principal;
    font-size: 18px;
    color: $color-negro;
  }

  .social-icon {
    @extend %icono-social;
  }
}


.menu h1 {
  margin-top: 100px; 
}

.menu .subseccion {
  margin-bottom: 4rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
}


footer {
  margin-bottom: 0 !important;
  padding-bottom: 0 !important;
}
