/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5e1c8; 
    color: #5a3e2b; 
}

/* Navbar */
header {
    background-color: #9c4a1a; 
    padding: 15px 0;
    text-align: center;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
}

nav ul li a:hover {
    text-decoration: underline;
}

/* Banner */
.banner {
    background-image: url('../images/ventanaLocal.jpg'); 
    background-size: cover;
    background-position: center;
    height: 300px;
    /* display: flex; */
    align-items: center;
    justify-content: center;
    text-align: center;
    color: white;
    /* text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); */
}

/* .banner-texto {
    background: rgba(0, 0, 0, 0.5);
    padding: 20px;
    border-radius: 10px;
} */

/* Secciones */
section {
    padding: 40px;
    text-align: center;
}

.ambiente .imagenes {
    /* display: flex; */
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
}

.promociones .imagenes {
    /* display: flex; */
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
}

.promociones img {
    width: 600px;
    height: 800px;
    border-radius: 10px;

}

.ambiente img {
    width: 600px;
    height: 800px;
    border-radius: 10px;
   
}

.menu img {
    width: 600px;
    height: auto;
    border-radius: 10px;
   
}

/* formulario */

.form-container {
    background-color: #f5e1c8;
    padding: 20px;
    border-radius: 10px;
    width: 50%;
    margin: auto;
    text-align: left;
}

.form-container label {
    font-weight: bold;
    display: block;
    margin: 10px 0 5px;
}

.form-container input,
.form-container textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #9c4a1a;
    border-radius: 5px;
    font-size: 16px;
}

.form-container button {
    background-color: #9c4a1a;
    color: white;
    border: none;
    padding: 10px 15px;
    margin-top: 15px;
    cursor: pointer;
    font-size: 16px;
    border-radius: 5px;
}

.form-container button:hover {
    background-color: #7f3612;
}

/* Footer */
footer {
    background-color: #9c4a1a;
    color: white;
    text-align: center;
    padding: 20px;
    margin-top: 20px;
}

